@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
html{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }

h1{
    font-family:'Montserrat', sans-serif;
}

.link{
    text-decoration: none;
    color: black;
}

.nav--bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    h1{
        margin: 0px;
        font-family: 'Montserrat', sans-serif;
        font-size: 2em;
        font-weight: 400;
        // text-decoration: none;
    }
    .nav--list{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        li{
            margin: 0px; 
            padding: 0 1em; 
            list-style-type: none;
            font-family: 'Montserrat', sans-serif;
            font-size: .9em;
        }
        li:hover{
            cursor: pointer;
        }
    }
}
.signup{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup--container{
    height: 300px;
    width: 400px;
    background-color: rgba(177, 177, 177, 0.313);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3{
        font-family: 'Montserrat', sans-serif; 
        font-size: 2rem;
        font-weight: 400;
        margin: 0px;
        padding: 0px;
    }
    .form--container{
        font-size: .9rem ;
        display: grid;
        grid-template-columns: 5rem 10rem;
        grid-gap: .5rem;
        font-family: 'Montserrat', sans-serif; 
        margin: 20px 0px; 
    }
    button{
        margin: 10px;
        padding: 5px 15px;
        border: none;
        border-radius: 5px;
        color: white;
        background-color: green;
        cursor: pointer;
    }
    button:hover{
        transform: scale(1.05);
    }
}
.user{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user--container{
    margin: 0px 50px;
    display: grid;
    list-style-type: none;
    grid-template-columns: 300px 300px 300px;
    li{
        margin: 30px;
    }
}

.loadingSpinnerContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loadingSpinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #000 transparent #555 transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.dash--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.talk--item{
    background-color: rgba(85, 85, 85, 0.243);
    height: 100px;
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    margin: 15px;
    svg{
        margin: 20px;
        padding: 8px;
        border-radius: 50%;
        border: 1px solid rgb(0, 0, 0);
    }
    .talk-date{
        font-family:'Montserrat', sans-serif;
        font-size: .7em;
        margin: 0px;
        width: 75%;
    }
    p{
        font-family:'Montserrat', sans-serif;
        margin: 0px;
        font-size: 1.4rem;
    }
    button{
        background-color: transparent;
        border: none;
        color: black;
    }
    button:hover{
        cursor: pointer;
    }
}
.form{

    textarea{
        height: 50px;
        width: 600px;
        text-indent: 5px;
        resize: none;
        font-family:'Montserrat', sans-serif;
    }
    button{
        margin: 5px;
        padding: 5px 15px;
        border: none;
        border-radius: 5px;
        color: white;
        background-color: green;
        cursor: pointer;
    }
}